

@import url('https://fonts.googleapis.com/css?family=Arvo|Oswald');
/* font-family: 'Arvo', serif;
font-family: 'Oswald', sans-serif; */

body {font-family: 'Arvo', serif;
      background: linear-gradient(to bottom, #adebeb 0%, #ffffcc 50%, #ffcc66 92%, #e60000 100%);
      color: white;}

h1, h2 {
          text-shadow: 3px 2px #29a3a3;
          padding: 0px;
          margin: 0px;
      }


#counter {
          /* border: 1px solid green; */
          position: absolute;
          top: 0px;
          left: 0px;
          margin: 0px;
          padding: 20px;
          width: 250px;
          height: 120px;
          text-align: left;
          line-height: 50px;
        }

#story {
          /* border: 1px solid green; */
          position: absolute;
          top: 355px;
          left: 500px;
          margin: 0px;
          padding: 20px;
          width: 350px;
          height: auto;
          text-align: right;
          line-height: 40px;
                }

#lady {
          /*  border: 1px solid green; */
            position: absolute;
            top: 0px;
            left: 180px;
            margin: 0px;
            padding: 0px;
            width: 620px;
            height: 550px;
            z-index: 10;
}

#fly {
          /* border: 1px solid green; */
          position: absolute;
          top: 800px;
          left: 435px;
          width: 35px;
          height:31px;
          z-index: 2;
        }

#spider {
          /* border: 1px solid green; */
          position: absolute;
          top: 1600px;
          left: 415px;
          width: 80px;
          height:120px;
          z-index: 3;
                }

#bird {
      /* border: 1px solid green; */
         position: absolute;
         top: 2400px;
         left: 280px;
         width: 300px;
         height:199px;
         z-index: 4;
                }

#cat {
      /* border: 1px solid green; */
      position: absolute;
      top: 3800px;
      left: 300px;
      width: 275px;
      height: 269px;
      z-index: 5;
              }

#dog {
      border: 1px solid green;
      position: absolute;
      top: 4800px;
      left: 340px;
      width: 280px;
      height: 325px;
      z-index: 6;
          }

#cow {
      border: 1px solid green;
      position: absolute;
      top: 6000px;
      left: 270px;
      width: 325px;
      height: 650px;
      z-index: 7;
            }

#horse {
      border: 1px solid green;
      position: absolute;
      top: 8500px;
      left: 255px;
      width: 350px;
      height: 850px;
      z-index: 8;
              }

#canvas {
          /* border: 1px solid blue; */
          position: relative;
          margin: 0 auto;
          width: 800px;
          height: 10000px;
          padding: 0px;
}
